.main-bg {
    background-color: var(--color-12);
    box-shadow: inset 0 -120px var(--color-0); /* inset = sombra interna */
}

.main-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.main-intro img {
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
}

.main-content {
    align-self: end;
    padding-bottom: 200px;
}

.main-content h1 {
    margin-bottom: 32px;
}

.main-content p {
    margin-bottom: 20px;
}

@media(max-width: 800px) {
    .main-bg {
        background-color: var(--color-11);
        box-shadow: inset 0 -60px var(--color-0);
        padding-top: 40px;
    }

    .main-intro {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .main-intro img {
        height: 300px;
        width: 100%;
    }

    .main-content {
        padding-bottom: 0px;
    }

    .main-content h1 {
        margin-bottom: 16px;
    }

}