* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #111111;
}

ul {
    list-style: none;
}

a {
    color: inherit; /* Declarando que a tag <a> irá herdar a cor do pai */
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

img[src$=".jpg"] {
    border-radius: 4px;
}
